---
import MacOSWindow from '../layouts/MacOSWindow.astro';
---

<MacOSWindow title="macOS Window Template">
  <main class="pt-4 flex flex-col gap-3">
    <h1 class="text-6xl text-center max-w-2xl mx-auto tracking-tighter font-bold">
      macOS Window Template for Astro
    </h1>
    <h1 class="text-3xl text-center max-w-2xl mx-auto tracking-tighter font-bold">
      by <a href="https://github.com/lewisbarnes"><span class="text-blue-600 hover:underline">@lewisbarnes</span></a>
    </h1>
  </main>
</MacOSWindow>
